body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141414;
    color: #fff;
}

.header {
    background-color: #000;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 200px;
}

.container {
    max-width: 1400px;
    margin: auto;
    padding: 30px;
}

.title {
    font-size: 48px;
    margin-bottom: 30px;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
}

.movie-card {
    width: 250px;
    margin: 20px;
}

.movie-image {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.movie-title {
    font-size: 20px;
    margin-top: 15px;
}

.footer {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footer-text {
    font-size: 16px;
    color: #808080;
}

/* Add more styles as needed */
